
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: 1em;
}
.container {
    overflow-y: scroll;
    height: 500px;
}
.loading {
    position: fixed;
    z-index: 1;
    top: 50%;
    right: 40%;
}
#sidebar{
    width: 350px;
    height: 100%;
    background-color: rgb(128, 30, 59);
    transition: 0.3s all;
    position: fixed;
    overflow-x: hidden;
}

#sidebar .title{
    text-align: center;
    background-color: rgba(34, 34, 34, 0.26);
    padding: 1em;
    color: white;
    margin-bottom: 1em ;
}
#sidebar ul{
    list-style: none;
}

#sidebar ul li{
    font-size: 20px;
    color: white;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
}

#main {
    margin: 0 1em 1em 350px;
    padding-top: 1em;
}
#chartdiv {
    width: 100%;
    height: 500px;
    padding-top: 1em;
}

#covidMundo {
    text-align: center;
    padding: 1em;
}


@media (max-width: 800px) {
    #sidebar {
        margin-left: -350px;
    }
    .loading {
        right: 50%;
    }

    #main {
        margin-left: 1em;
    }
}
